@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

::selection {
  background: rgb(163 230 53);
  color: rgb(9 9 11);
}
